label.logo {
    font-size: 35px;
    cursor: pointer;
    /* width: 88.66px;
    height: 28.74px;
    top: 10.29px;
    left: 46px; */
    color: #36536b;
    padding: 0 100px;
    line-height: 80px;
    background-image: url(../img/assets/shared/desktop/logo.svg);
    background-repeat: no-repeat;
}

nav ul {
    float: right;
    margin-right: 40px;
}

nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

nav a {
    color: var(--link-water-white);
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
    font-weight: 700;
}

body {
    background-color: #EDF3F8;
}

::selection p {
    font-size: 15px;
    line-height: 28px;
    color: var(--link-water-white);
    text-align: center;
    font-family: 'Public Sans', sans-serif;
}

main h2 {
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: var(--link-water-white);
    font-family: 'DM Serif Display', serif;
}

main section h4 {
    font-size: 24px;
    line-height: 32px;
    color: var(--link-water-white);
    text-align: center;
    font-family: 'DM Serif Display', serif;
}

p.klase1 {
    color: var(--link-water-white);
    font-size: 16px;
    text-align: center;
    font-style: normal;
    line-height: 28px;

}

.klase2 {
    color: #BA4270;
    text-align: center;
    font-family: DM Serif Display;
    font-size: 56px;
    font-style: normal;
    line-height: 72px;
}

p.klase3 {
    color: var(--link-water-white);
    font-size: 16px;
    text-align: center;
    font-style: normal;
    line-height: 28px;

}

.klase4 {
    color: #BA4270;
    text-align: center;
    font-family: DM Serif Display;
    font-size: 56px;
    font-style: normal;
    line-height: 72px;
}

p.klase5 {
    color: var(--link-water-white);
    font-size: 16px;
    text-align: center;
    font-style: normal;
    line-height: 28px;

}

.klase6 {
    color: #BA4270;
    text-align: center;
    font-family: DM Serif Display;
    font-size: 56px;
    font-style: normal;
    line-height: 72px;
}

p* {
    color: var(--link-water-white);
    padding: 0px 30px;
}
.paveiksliukas {
    justify-content: center;
}

.vision-box {
    display: flex;
    flex-direction: column;
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {



.paveiksliukas {
    display: flex;
    justify-content: center;
}
.vision-box {
    display: flex;
    flex-direction: row;
}}