main {
  margin: auto 0px;
}

p {
  padding: 0px 30px;
}

.partners {
  padding: 120px 24px;
  background-image: url(../img/bg-pattern-circle.svg);
  background-repeat: no-repeat;
  background-color: var(--mirage-blue);
  background-size: 100%;
  background-position: right -200px;

}


.logo-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  row-gap: 20px;
  justify-content: center;
  align-content: center;

}

.box {
  height: 50px;
  min-width: 140px;
  flex-grow: 1;
  display: block;
}

.partners-text {
  color: var(--link-water-white);
  text-align: center;
  position: relative;
  padding: 110px 0px;

}

.partner-text-p {
  padding: 30px 0px 0px 0px;
  opacity: 70%;
}

.partner-btn {
  text-align: center;
}

/* MEDIA FOR PARTNERS */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .partners {
    background-position: right -800px;
  }

  .partners-text {
    padding: 110px 155px;

  }

  .logo-container {
    margin: 0px;
    justify-content: center
  }

  .flex1 {
    display: flex;
  }

  .flex2 {
    display: flex;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .partners {
    background-position: right -800px;
  }

  .partners-text {
    padding: 110px 155px;
  }

  .logo-container {
    margin: 0px;
    justify-content: center
  }

  .flex1 {
    display: flex;
  }

  .flex2 {
    display: flex;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .partners {
    display: flex;
    flex-direction: row-reverse;
    background-position: -500px -900px;
  }

  .logo-container {
    justify-content: center;
    padding: 50px 50px;
    row-gap: 30px;

  }

  .text-container {
    justify-content: center;
  }

  .partners-text {
    padding: 50px 50px;
    text-align: justify;
  }

  .partner-btn {
    text-align: justify;
    padding: 0px 50px;
  }


}


/*!!!!!!!!!  */
/* EASY UI PART */
.easy-to-implement {
  text-align: center;
  color: var(--san-juan-blue);
  background-color: var(--background-color);
}

.easy-to-implement-h3 {
  padding: 15px 0px;

}

.easy-to-implement-text {
  color: var(--light-san-juan-blue);
  text-align: center;
}

.demo-img {
  padding: 40px 0px 0px 15px;
}

.ui-img {
  padding-left: 15px;
}

/*  */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .ui-container {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
  }

  .easy-to-implement-box {
    max-width: 50%;
    max-height: 100%;
  }

  .easy-to-implement-h3 {
    padding: 170px 0px 30px 0px;

  }

  .easy-to-implement-text {
    color: var(--light-san-juan-blue);
    text-align: center;
    padding-left: 200px;
  }

  .simple-ui-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .simple-ui-box {
    max-width: 50%;
    max-height: 100%;

  }

  .easy-to-implement {
    background-image: url(../img/bg-pattern-circle.svg);
    background-repeat: no-repeat;
    background-color: var(--background-color);
    background-size: 100%;
    background-position: 1200px;
  }
}

/* !!!!!!!! */
/* CARDS PART */
.cards {
  padding: 80px 0px;
  background-color: var(--background-color);
  color: var(--light-san-juan-blue);
  text-align: center;
}

.h3-small {
  padding: 20px 0px 0px 0px;
}

.cards-txt {
  padding: 30px 30px;
}

/*  */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .cards {
    background-color: var(--background-color);
    color: var(--light-san-juan-blue);
    text-align: center;
    display: flex;
    box-sizing: border-box;
  }

  .cards-box {
    max-width: 33.33%;
    max-height: 100%;
    padding: 50px;
  }

  .h3-small {
    padding: 20px 0px;
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .cards {
    background-color: var(--background-color);
    color: var(--light-san-juan-blue);
    text-align: center;
    display: flex;
    box-sizing: border-box;
  }

  .cards-box {
    max-width: 33.33%;
    max-height: 100%;
    padding: 50px;
  }

  .h3-small {
    padding: 20px 0px;
  }


}